In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Pierre,RE,2022-02-01 14:10:43,-21.3393,55.4781,85.64,78,75,21.85
1,1,Busselton,AU,2022-02-01 14:10:44,-33.6500,115.3333,64.04,47,0,19.80
2,2,Atuona,PF,2022-02-01 14:10:44,-9.8000,-139.0333,78.21,74,20,22.77
3,3,Pozo Colorado,PY,2022-02-01 14:10:44,-23.4923,-58.7972,98.51,20,0,5.35
4,4,Laguna,US,2022-02-01 14:10:45,38.4210,-121.4238,49.33,56,0,5.99

In [3]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#how to use with the for loop above: heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#list comprehension call
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Pierre,RE,2022-02-01 14:10:43,-21.3393,55.4781,85.64,78,75,21.85
2,2,Atuona,PF,2022-02-01 14:10:44,-9.8000,-139.0333,78.21,74,20,22.77
5,5,Rikitea,PF,2022-02-01 14:09:59,-23.1203,-134.9692,77.74,68,46,7.38
6,6,Taoudenni,ML,2022-02-01 14:10:45,22.6783,-3.9836,84.00,10,30,15.08
8,8,Blackwater,AU,2022-02-01 14:10:46,-23.5833,148.8833,80.44,61,100,8.59
10,10,Yanam,IN,2022-02-01 14:10:46,16.7333,82.2167,81.00,72,2,6.42
13,13,Cantagallo,CO,2022-02-01 14:10:47,7.3760,-73.9196,78.39,79,96,1.59
15,15,Hermanus,ZA,2022-02-01 14:10:48,-34.4187,19.2345,87.91,74,0,7.16
16,16,Karwar,IN,2022-02-01 14:10:48,14.8000,74.1333,76.87,67,0,9.60
18,18,Bredasdorp,ZA,2022-02-01 14:10:49,-34.5322,20.0403,85.28,44,1,13.22

In [12]:
#check for null values
preferred_cities_df.count()
#If you have some rows with null values, you'll need to drop them using the dropna() method at the end of your filtering statement when you are creating the new DataFrame.

City_ID       194
City          194
Country       192
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0   Saint-Pierre      RE     85.64 -21.3393   55.4781
2         Atuona      PF     78.21  -9.8000 -139.0333
5        Rikitea      PF     77.74 -23.1203 -134.9692
6      Taoudenni      ML     84.00  22.6783   -3.9836
8     Blackwater      AU     80.44 -23.5833  148.8833
10         Yanam      IN     81.00  16.7333   82.2167
13    Cantagallo      CO     78.39   7.3760  -73.9196
15      Hermanus      ZA     87.91 -34.4187   19.2345
16        Karwar      IN     76.87  14.8000   74.1333
18    Bredasdorp      ZA     85.28 -34.5322   20.0403

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Saint-Pierre,RE,85.64,-21.3393,55.4781,Lindsey Hôtel
2,Atuona,PF,78.21,-9.8000,-139.0333,Villa Enata
5,Rikitea,PF,77.74,-23.1203,-134.9692,People ThankYou
6,Taoudenni,ML,84.00,22.6783,-3.9836,
8,Blackwater,AU,80.44,-23.5833,148.8833,Blackwater Motor Inn
10,Yanam,IN,81.00,16.7333,82.2167,The Regency Hotel
13,Cantagallo,CO,78.39,7.3760,-73.9196,Apartahotel Altamira
15,Hermanus,ZA,87.91,-34.4187,19.2345,Misty Waves Boutique Hotel
16,Karwar,IN,76.87,14.8000,74.1333,Netalco Connects
18,Bredasdorp,ZA,85.28,-34.5322,20.0403,Bredasdorp Country Manor

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
#add a pop-up marker for each city that displys the hotel name, city name, country and max temp
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]